# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# ビルド出力フォルダ
out/
build/

# IDE設定フォルダ
.idea/

# 依存関係のキャッシュフォルダ
.gradle/
node_modules/

# システムの一時ファイル
*.log
*.tmp
*.swp

# 個人設定ファイル
*.iml
*.ipr
*.iws